/* fonts */
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans Medium'), local('OpenSans-Medium'),
        url('../fonts/OpenSans/OpenSans-Medium.ttf') format('ttf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

picture {
    display: block;
}

label {
    display: block;
}

[type="submit"] {
    transition: opacity .2s ease;
}

/* glob */
body {
    font-family: 'OpenSans', sans-serif;
    color: #26292F;
    min-width: 320px;
}

body.lock {
    overflow: hidden;
}

main {
    min-height: 100vh;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 20px 40px;
    background-color: #18D398;
    border-radius: 34px;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease, box-shadow .2s ease;
}

.btn:active {
    background-color: rgba(24, 211, 152, .6) !important;
    box-shadow: 0px 0px 20px 0px rgba(24, 211, 152, .3);
}

.btn-submit {
    padding: 16px 30px;
    border-radius: 30px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    transition: background-color .2s ease, box-shadow .2s ease;
}

.btn-submit:active {
    background-color: rgba(255, 255, 255, 0.90) !important;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.40);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10000;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 15px 20px;
}

.popup__content {
    width: 587px;
    max-width: 100%;
    position: relative;
    padding: 70px 30px 30px;
    background-color: #1C63EE;
    border-radius: 20px;
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 100;
}

.popup__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    margin-bottom: 35px;
}

.city-popup .popup__content {
    padding: 70px 60px 30px;
    width: 1000px;
    background: linear-gradient(0deg, rgba(0, 67, 255, 0.02) 0%, rgba(0, 67, 255, 0.02) 100%), #FFF;
}

.city-popup .popup__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    color: #1C63EE;
    margin-bottom: 35px;
}

.city-popup__input {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 30px;
    background-color: rgba(165, 217, 255, 0.50);
    font-size: 18px;
    line-height: 140%;
}

.city-popup__input::-ms-clear {
    display: none;
}

.city-popup__input::-moz-placeholder {
    color: #1897FF;
}

.city-popup__input::-webkit-input-placeholder {
    color: #1897FF;
}

.city-popup__label {
    margin-bottom: 35px;
}

.city-popup__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 80px;
}

.city-popup__item {
    flex: 0 1 calc(50% - 40px);
}

.city-popup__link {
    font-size: 16px;
    line-height: 130%;
    color: #1C63EE;
    transition: color .2s ease;
}

.city-popup__link:active {
    color: #0072FF !important;
}

.form-popup__label {
    margin-bottom: 12px;
}

.form-popup__label:last-child {
    margin-bottom: 0;
}

.form-input {
    padding: 16px 30px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.40);
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    border-radius: 30px;
}

textarea.form-input {
    height: 95px;
}

.form-input::-ms-clear {
    display: none;
}

.form-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.60);
}

.form-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.60);
}

.form-popup__fields {
    margin-bottom: 20px;
}

.form-popup__btn {
    width: 100%;
    margin-bottom: 10px;
}

.form-policy {
    font-size: 14px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.60);
}

.form-policy__link {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color .2s ease;
}

.form-policy__link:active {
    color: rgba(255, 255, 255, 0.80) !important;
}

.tab {
    background-color: rgba(165, 217, 255, 0.40);
    padding: 12.5px 15px;
    border-radius: 10px;
    color: #363940;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    text-align: initial;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease;
}

.tab.active {
    font-weight: 600;
    color: #fff;
    background-color: #1C63EE;
    pointer-events: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tabs__active {
    display: none;
}

.tabs__close {
    display: none;
}

.page-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 50px;
}

.page-title_center {
    text-align: center;
}

.section-offset {
    margin-bottom: 120px;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 50px;
}

.content-body h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
}

.content-body h2:last-child {
    margin-bottom: 0;
}

.content-body h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
}

.content-body h3:last-child {
    margin-bottom: 0;
}

.content-body h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
}

.content-body h4:last-child {
    margin-bottom: 0;
}

.content-body h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 15px;
}

.content-body h5:last-child {
    margin-bottom: 0;
}

.content-body p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 15px;
}

.content-body p:last-child {
    margin-bottom: 0;
}

.content-body ul {
    margin-bottom: 15px;
}

.content-body ul:last-child {
    margin-bottom: 0;
}

.content-body ul li {
    position: relative;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 140%;
    padding-left: 34px;
}

.content-body ul li:last-child {
    margin-bottom: 0;
}

.content-body ul li::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 10px;
    background-color: #1C63EE;
    width: 24px;
    height: 7px;
}

.content-body blockquote {
    border-radius: 8px;
    border-top: 2px solid #18D398;
    border-bottom: 2px solid #18D398;
    padding: 30px 100px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 15px;
}

.content-body blockquote:last-child {
    margin-bottom: 0;
}

/* contraindications */
.contraindications {
    position: relative;
    z-index: 1000;
    background-color: #1C63EE;
    padding: 14px 0;
}

.contraindications__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contraindications__decor {
    padding: 4px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    line-height: 130%;
    margin-left: 10px;
}

/* header */
.header {
    position: sticky;
    z-index: 1000;
    background-color: #fff;
}

.header__top {
    padding: 25px 0;
}

.header__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header__top-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__address {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__address-icon {
    flex-shrink: 0;
}

.header__address-icon path {
    transition: stroke .2s ease;
}

.header__address:active .header__address-icon path {
    stroke: #1897FF !important;
}

.header__address-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.header__phone {
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: #26292F;
    display: block;
    margin-bottom: 5px;
    transition: color .2s ease;
}

.header__phone:active {
    color: #1897FF !important;
}

.header__phone:last-child {
    margin-bottom: 0;
}

.socials {
    display: flex;
    gap: 20px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease;
}

.social__link:active {
    transform: scale(.9) !important;
}

.header__bottom {
    position: relative;
    padding: 20px 0;
    background-color: #0072FF;
}

.header__navigation {
    display: flex;
    gap: 20px;
}

.header__nav-btn {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background-color: #fff;
    transition: background-color .2s ease;
}

.header__nav-btn:active {
    background-color: rgba(255, 255, 255, 0.80) !important;
}

.header__nav-btn-text {
    font-size: 18px;
    line-height: 140%;
    color: #1C63EE;
}

.header__nav-btn-decor {
    position: relative;
    width: 22px;
    height: 14px;
    display: flex;
    align-items: center;
}

.header__nav-btn-decor::before,
.header__nav-btn-decor::after {
    content: '';
    position: absolute;
    transition: transform .2s ease, top .2s ease, left .2s ease, width .2s ease, background-color .2s ease;
}

.header__navigation-wrapper.active .header__nav-btn-decor::before,
.header__navigation-wrapper.active .header__nav-btn-decor::after {
    top: 50%;
    left: 50%;
    bottom: auto;
    width: 20px;
    transform-origin: center;
    background-color: #DE004B;
}

.header__nav-btn-decor::before {
    width: 20px;
    top: 0px;
    left: 0;
}

.header__navigation-wrapper.active .header__nav-btn-decor::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.header__nav-btn-decor::after {
    width: 16px;
    bottom: 0;
    left: 0;
}

.header__navigation-wrapper.active .header__nav-btn-decor::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header__nav-btn-decor-line {
    width: 20px;
    transition: opacity .2s ease;
}

.header__navigation-wrapper.active .header__nav-btn-decor-line {
    opacity: 0;
    visibility: hidden;
}

.header__nav-btn-decor::before,
.header__nav-btn-decor::after,
.header__nav-btn-decor-line {
    display: flex;
    border-radius: 1px;
    background-color: #1C63EE;
    height: 2px;
}

.header__search {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    width: 240px;
}

.header__search-item {
    width: 100%;
    height: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    padding: 0 56px 0 20px;
    background-color: #013BDD;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

.header__search-input::-ms-clear {
    display: none;
}

.header__search-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.90);
}

.header__search-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.90);
}

.header__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 56px;
    height: 100%;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 24px 24px 0;
}

.header__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 30px;
}

.background-close {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
}

.background-close.active {
    opacity: 1;
    visibility: visible;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    transition: color .2s ease;
}

.menu__link:active {
    color: rgba(255, 255, 255, .6) !important;
}

.header__navigation-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #F4F8FF;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    transform: translateX(-110%);
    transition: transform .2s ease;
}

.header__navigation-wrapper.active .header__navigation-dropdown {
    transform: translate(0);
}

.header__navigation-content-item {
    margin-bottom: 8px;
}

.header__navigation-content-item:last-child {
    margin-bottom: 0;
}

.header__navigation-tab {
    width: 343px;
    display: flex;
    align-items: center;
    padding: 28px 20px;
    border-radius: 5px;
    background-color: rgba(165, 217, 255, 0.40);
    transition: background-color .2s ease;
}

.header__navigation-tab:active {
    background-color: rgba(165, 217, 255, 1) !important;
}

.header__navigation-content-item.active .header__navigation-tab {
    background-color: #1C63EE;
}

.header__navigation-tab-icon {
    flex-shrink: 0;
    margin-right: 15px;
    width: 24px;
    height: 24px;
    background-color: #1C63EE;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 24px 24px;
    mask-size: 24px 24px;
    transition: background-color .2s ease;
}

.header__navigation-content-item.active .header__navigation-tab-icon {
    background-color: #fff;
}

.header__navigation-tab-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    text-align: initial;
    transition: color .2s ease;
}

.header__navigation-content-item.active .header__navigation-tab-text {
    color: #fff;
}

.header__navigation-list {
    position: absolute;
    top: 8px;
    left: 351px;
    right: 0;
    padding: 40px 40px 8px 100px;
    flex-wrap: wrap;
    gap: 20px 120px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: opacity .2s ease;
}

.header__navigation-content-item.active .header__navigation-list {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.header__navigation-nav-item {
    flex: 0 1 calc(50% - 60px);
}

.header__navigation-nav-link {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    transition: color .2s ease;
}

.header__navigation-nav-link:active {
    color: rgba(165, 150, 255, 1) !important;
}

.header__phone-mobile {
    display: none;
}

.header__open-menu {
    display: none;
}

.header__navigation-close {
    display: none;
}

.header__nav-btn-arrow {
    display: none;
}

.header__navigation-tab-arrow {
    display: none;
}

.header__bottom-mobile {
    display: none;
}

/* promo */
.promo {
    position: relative;
    background-image: url('../img/sections/promo/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 80px;
    overflow: hidden;
}

.promo::after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 67, 255, 0.01) 0%, rgba(0, 67, 255, 0.01) 100%), #FFF;
    filter: blur(15px);
    position: absolute;
    bottom: -64px;
    left: -60px;
    right: -60px;
    height: 94px;
}

.promo__title {
    max-width: 932px;
    margin: 0 auto 15px;
}

.promo__descr {
    max-width: 874px;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    margin: 0 auto 50px;
}

.promo__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
    max-width: 960px;
    margin: 0 auto 60px;
}

.promo__service {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #0072FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    color: #fff;
    text-align: center;
    transition: background-color .2s ease, box-shadow .2s ease;
}

.promo__service:active {
    background-color: #0083FF !important;
}

.promo__advantages {
    display: flex;
    padding: 20px 32px;
    background-image: url('../img/sections/promo/advantages-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.promo__advantage {
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.promo__advantage::after {
    content: '';
    display: block;
    margin: 0 20px;
    flex: 0 0 2px;
    height: 100%;
    background-color: rgba(2, 6, 16, 0.40);
    transform: rotate(10deg);
}

.promo__advantage:last-child:after {
    display: none;
}

/* prices */
.prices {
    margin-bottom: 40px;
}

.prices__wrapper {
    border-radius: 20px;
    padding: 50px 40px;
    border: 2px solid #0072FF;
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgba(1, 59, 221, 0.30);
}

.price:last-child {
    margin-bottom: 0;
    border: initial;
}

.price__info {
    max-width: 692px;
    margin-right: 24px;
}

.price__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 12px;
}

.price__text {
    font-size: 18px;
    line-height: 140%;
}

.price__send {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 30px;
    border: 2px solid #18D398;
    border-radius: 300px;
    height: 100%;
    flex-shrink: 0;
    gap: 16px 30px;
}

.price__num {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
}

/* consultation */
.consultation__wrapper {
    background-image: url('../img/sections/consultation/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 60px 70px;
}

.consultation__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    margin-bottom: 30px;
}

.consultation__form-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 20px;
}

.reviewer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    float: right;
    width: 500px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #0072FF;
    margin-left: 40px;
    margin-bottom: 40px;
}

.reviewer__info {
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.reviewer__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 10px;
}

.reviewer__name {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.reviewer__role {
    font-size: 18px;
    line-height: 140%;
    color: #7D8088;
    flex-grow: 1;
    margin-bottom: 10px;
}

.reviewer__date-title {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 3px;
}

.reviewer__date-descr {
    font-size: 18px;
    line-height: 140%;
    color: #7D8088;
}

.reviewer__picture {
    flex: 0 0 223px;
    border-radius: 20px;
    overflow: hidden;
}

@media (min-width: 1025px) {

    /* glob */
    .btn:hover {
        background-color: rgba(24, 211, 152, .8);
        box-shadow: 0px 0px 20px 0px rgba(24, 211, 152, .3);
    }

    .city-popup__link:hover {
        color: #0083FF;
    }

    .form-policy__link:hover {
        color: #fff;
    }

    .btn-submit:hover {
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.40);
    }

    /* header */
    .header__address:hover .header__address-icon path {
        stroke: #0072FF;
    }

    .header__phone:hover {
        color: #0072FF;
    }

    .social__link:hover {
        transform: scale(1.1);
    }

    .menu__link:hover {
        color: rgba(255, 255, 255, .8);
    }

    .header__nav-btn:hover {
        background-color: rgba(255, 255, 255, 0.90);
    }

    .header__navigation-tab:hover {
        background-color: rgba(165, 217, 255, 0.70);
    }

    .header__navigation-nav-link:hover {
        color: #1C63EE;
    }

    /* promo */
    .promo__service:hover {
        background-color: #1C63EE;
        box-shadow: 0px 0px 20px 0px rgba(0, 114, 255, 0.20);
    }
}

@media (max-width: 1200px) {

    /* header */
    .header__address-text {
        display: none;
    }

    .menu__list {
        gap: 20px;
    }

    .header__navigation-list {
        gap: 20px 40px;
    }

    .header__navigation-nav-item {
        flex: 0 1 calc(50% - 20px);
    }

    .header__navigation-list {
        padding: 40px 40px 8px 40px;
    }
}

@media (max-width: 1024px) {

    /* glob */
    .btn {
        padding: 12px 24px;
        font-size: 16px;
    }

    .btn-submit {
        font-size: 18px;
    }

    .popup__content {
        padding: 80px 20px 30px;
    }

    .city-popup .popup__content {
        padding: 80px 20px 30px;
    }

    .popup__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 30px;
    }

    .city-popup .popup__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 30px;
    }

    .form-input {
        padding: 16px 20px;
        height: 54px;
        font-size: 14px;
        line-height: 130%;
    }

    .city-popup__label {
        margin-bottom: 30px;
    }

    .city-popup__input {
        padding: 0 20px;
        height: 54px;
        font-size: 14px;
        line-height: 130%;
    }

    .city-popup__list {
        gap: 8px 20px;
    }

    .city-popup__item {
        flex: 0 1 calc(50% - 10px);
    }

    .page-title {
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 120%;
    }

    .section-offset {
        margin-bottom: 50px;
    }

    .section-title {
        font-size: 24px;
        line-height: 130%;
        margin-bottom: 20px;
    }

    /* contraindications */
    .contraindications__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
    }

    .contraindications__decor {
        font-size: 14px;
        line-height: 130%;
    }

    /* header */
    .header {
        top: 0 !important;
        border-radius: 0px 0px 10px 10px;
        background-color: #F0F3FF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
    }

    .header__top-container {
        justify-content: initial;
    }

    .header__top-item {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .header__top-item:last-child {
        display: none;
    }

    .header__phone-mobile {
        display: flex;
    }

    .header__open-menu {
        display: block;
    }

    .header__top-item-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo__img {
        width: 140px;
    }

    .header__bottom {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px 0;
        overflow: auto;
        transform: translateX(-110%);
        transition: transform .2s ease;
    }

    .header.active .header__bottom {
        transform: translateX(0);
    }

    .header__bottom-container {
        display: block;
    }

    .header__navigation {
        flex-direction: column-reverse;
    }

    .header__navigation-close {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 24px;
    }

    .header__search {
        width: 100%;
    }

    .header__search-input {
        height: 53px;
    }

    .header__navigation-wrapper {
        margin-bottom: 30px;
    }

    .header__nav-btn-arrow {
        display: flex;
        align-items: center;
    }

    .header__nav-btn-decor {
        display: none;
    }

    .header__nav-btn {
        width: 100%;
        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.90);
        padding: 12px 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .header__nav-btn-text {
        color: #fff;
    }

    .menu__list {
        flex-wrap: wrap;
        gap: 20px;
    }

    .menu__item {
        flex: 0 1 calc(50% - 10px);
    }

    .header__nav-btn:active {
        background-color: transparent !important;
    }

    .header__navigation-dropdown {
        margin-top: 10px;
        position: initial;
        transform: translate(0);
        height: initial !important;
        border-radius: 15px;
        padding: 20px 15px;
        background-color: rgba(255, 255, 255, 0.90);
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease;
    }

    .header__navigation-wrapper.active .header__navigation-dropdown {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .header__navigation-list {
        position: initial;
        display: none;
    }

    .header__navigation-tab {
        padding: 0;
        width: 100%;
        background-color: initial;
        justify-content: space-between;
        gap: 16px;
    }

    .header__navigation-tab-arrow {
        display: block;
        transition: transform .2s ease;
    }

    .header__navigation-content-item.active .header__navigation-tab-arrow {
        transform: rotate(180deg);
    }

    .header__navigation-tab:active {
        background-color: initial !important;
    }

    .header__navigation-content-item.active .header__navigation-tab {
        background-color: initial;
    }

    .header__navigation-tab-icon {
        display: none;
    }

    .header__navigation-tab-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        color: #1C63EE;
    }

    .header__navigation-content-item.active .header__navigation-tab-text {
        color: #1C63EE;
    }

    .header__navigation-list {
        padding: 12px 10px 0;
    }

    .header__navigation-content-item.active .header__navigation-list {
        display: block;
    }

    .header__navigation-nav-link {
        font-size: 14px;
        line-height: 130%;
        color: #0072FF;
    }

    .header__navigation-nav-item {
        margin-bottom: 8px;
    }

    .header__navigation-nav-item:last-child {
        margin-bottom: 0;
    }

    .header__navigation-content-item {
        margin-bottom: 15px;
    }

    .header__navigation-content-item:last-child {
        margin-bottom: 0;
    }

    .header__bottom-mobile {
        display: block;
    }

    .header__menu {
        margin-bottom: 40px;
    }

    .header__mobile-btn {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 20px;
    }

    .header__mobile-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    .header__mobile-socials {
        flex-direction: column;
        gap: 15px;
    }

    .header__mobile-address {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .header__mobile-connection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header__mobile-address-icon {
        flex-shrink: 0;
        margin-right: 8px;
    }

    .header__mobile-address-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.90);
    }

    .header__mobile-phone {
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
        color: rgba(255, 255, 255, 0.90);
        margin-bottom: 5px;
    }

    .header__mobile-phone:last-child {
        margin-bottom: 0;
    }

    /* promo */
    .promo {
        padding: 40px 0 70px;
    }

    .promo::after {
        height: 44px;
        bottom: -14px;
    }

    .promo__title {
        margin-bottom: 15px;
    }

    .promo__descr {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 25px;
    }

    .promo__services {
        gap: 10px;
        margin-bottom: 30px;
    }

    .promo__service {
        border-radius: 15px;
        padding: 15px 30px;
    }

    .promo__advantages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .promo__advantage {
        display: grid;
        grid-template-columns: 1fr 2px;
        gap: 20px;
    }

    .promo__advantage::after {
        transform: initial;
        width: 2px;
        margin: 0;
    }

    .promo__advantage:nth-child(3n)::after {
        display: none;
    }

    /* prices */
    .prices {
        margin-bottom: 30px;
    }

    .prices__wrapper {
        border-radius: 15px;
        padding: 20px;
    }

    .price {
        padding: 0;
        border: initial;
        margin-bottom: 30px;
    }

    .price__info {
        margin-right: 20px;
    }

    .price__title {
        font-size: 18px;
        line-height: 130%;
        margin-bottom: 10px;
    }

    .price__text {
        font-size: 14px;
        line-height: 130%;
    }

    .price__send {
        padding-left: 20px;
        gap: 10px 20px;
    }

    .price__num {
        font-size: 18px;
    }

    /* consultation */
    .consultation__wrapper {
        border-radius: 15px;
        padding: 30px 15px;
        background: #013BDD;
    }

    .consultation__title {
        font-size: 24px;
    }

    .consultation__form-wrapper {
        gap: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {

    /* promo */
    .promo__services {
        grid-template-columns: repeat(2, 1fr);
    }

    .promo__advantages {
        grid-template-columns: initial;
    }

    .promo__advantage {
        grid-template-columns: initial;
        text-align: center;
    }

    .promo__advantage::after {
        width: 100%;
        height: 1px;
    }

    .promo__advantage:nth-child(3n)::after {
        display: block;
    }

    .promo__advantage:last-child::after {
        display: none;
    }

    /* prices */
    .price {
        flex-direction: column;
        align-items: flex-start;
    }

    .price__info {
        margin-right: 0;
        margin-bottom: 15px;
    }

    /* consultation */
    .consultation__form-wrapper {
        grid-template-columns: initial;
    }
}

@media (max-width: 575px) {

    /* glob */
    .city-popup__list {
        display: block;
    }

    .city-popup__item {
        margin-bottom: 8px;
    }

    .city-popup__item:last-child {
        margin-bottom: 0;
    }

    /* promo */
    .promo__services {
        grid-template-columns: initial;
    }
}